################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestFrameworkSetup/obj
/TestFrameworkSetup/bin/Debug/net5.0
/TestAPIFW/obj
